.features {
  background: #28a745;
}
.features__wrapper {
  padding: 79px 0px;
}
.features__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 16px;
}
.features__image {
  min-height: 220px;
}
.features__discription {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
  }
  .features__wrapper {
    padding: 62px 0px;
  }

  .features__image {
    width: 368px;
  }

  .features__text {
    font-size: 18px;
    line-height: 25px;
  }

  .features__discription {
    font-size: 18px;
    line-height: 25px;
  }
}

@media screen and (min-width: 1360px) {
  .features__wrapper {
    padding: 80px 0px 86px;
  }

  .features__image {
    width: 670px;
    min-height: 460px;
  }

  .features__text {
    font-size: 18px;
    line-height: 25px;
  }

  .features__discription {
    font-size: 18px;
    line-height: 25px;
    width: 642px;
  }
}
